<div id="sidebar" class="col-md-2">
    <h2>Produkter</h2>

    <nav class="navbar navbar-default sidebar-nav">
        <ul class="nav">
            <li>
                <a href="">ALLE</a>
            </li>
            <li>
                <a href="">SHOON</a>
            </li>
            <li>
                <a href="">KOREA SPECIAL</a>
            </li>
            <li>
                <a href="">UD. IMPORTS</a>
            </li>
            <li>
                <a href="">SLEEK FABRICS UK</a>
            </li>
        </ul>
    </nav>

    <div>
        <h3>Nyheder</h3>
        <p>Her vil den hente de seneste nyheder, når der er noget at hente.</p>
        <p>Her vil den hente de seneste nyheder, når der er noget at hente.</p><p>Her vil den hente de seneste nyheder, når der er noget at hente.</p><p>Her vil den hente de seneste nyheder, når der er noget at hente.</p><p>Her vil den hente de seneste nyheder, når der er noget at hente.</p><p>Her vil den hente de seneste nyheder, når der er noget at hente.</p><p>Her vil den hente de seneste nyheder, når der er noget at hente.</p>
    </div>
</div>